<% if doubled_down == 2 %>
  <h1>You don't have the funds to double down!</h1>
<%elsif doubled_down == 1%>
  <h1>You've successfully doubled down your bet!</h1>
<%end%>


<h2> You have been dealt <%=player[0]%> and <%=player[1]%> </h2>
<h2> For a sum of <%=player_sum%> </h2>

<h2> Dealer shows <%=dealer[0]%></h2>
<br>
<h2> What will you choose to do? </h2>
<form action="/blackjack/hit">
  <input type="submit" value="Hit!">
</form>
<form action="/blackjack/stay">
  <input type="submit" value="Stay!">
</form>
<form action="/blackjack/double">
  <input type="submit" value="Double Down!">
</form>
  <% if can_split %>
<form action="/blackjack/split">
  <input type="submit" value="Split">
</form>
<%end%>