<h1>Casino de Mikey-Carlo</h1>
<br>
<br>
<h3>Welcome to black jack table #<%=table %>. Click the button to sit down and start playing!</h3>
<form action="/blackjack/bet">
  <input type="submit" value="Sit down!">
</form>